body  {
    background-color: #ccffcc;
    color: #336600;
}
 
h1 {
    background-color: #336600;
    color: #ccffcc;
}
 
p  {
    border: 3px solid;
    margin: 1%;
}
 
ul {
    background-color: #ffff99;
  display: inline-box;
  list-style-type: none;
  line-height: 30px;
  overflow: hidden;
}

li {
  float: left;
  margin-top: 10px;
  margin-right: 10%;
}
 
h1, h2 {
    text-decoration: underline;
}
