body  {
    background-color: #ccffcc;
    color: #336600;
}
 
h1 {
    background-color: #336600;
    color: #ccffcc;
}
 
p  {
    border: 3px solid;
   }
 
ul {
    background-color: #ffff99;
  display: inline-box;
  list-style-type: none;
  line-height: 10%;
  overflow: hidden;
}

li {
  float: left;
  margin-top: 1%;
  margin-right: 10%;
}
 
h1, h2 {
    text-decoration: underline;
   
}
